.footer {
    background-color: $footer;

    &__helper {
        display: flex;
    }

    &__navigation {
        display: flex;
        gap: 62px;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;

        
    }
    &__social {
        display: flex;
    }
}
