.footer {
    background-color: $footer;

    &__helper {
        display: flex;
    }

    &__navigation {
        display: flex;
        gap: 62px;
    }
    &__copyright {
        display: flex;
        justify-content: space-between;

        &_text {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: $copy;
        }
    }
    &__social {
        display: flex;
        &_item {
            display: flex;
            ali
            border-radius: 50%;
            width: 24px;
            height: 24px;
            border: 1px solid ;
        }
    }
}
