.stock {
  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 36px;
}


.stock__helper {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.stock__list {
  display: grid;
  grid-template-columns: repeat(3, 369px);
  grid-template-rows: repeat(3, 203px);
  grid-column-gap: 34px;
  grid-row-gap: 34px;
  margin-bottom: ;

  &_item {
    cursor: pointer;
    width: 361px;
    height: 203px;
  }

  &_img {
    width: 100%;
    width: 361px;
    height: 203px;
    
  }

 
}
