.stock__helper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 34px;
}
